<body>
    <div class="loading-shade" *ngIf="isLoadingResults">
       <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <mat-card class="container" *ngIf="isLoadingResults == false">
        <form [formGroup]="studentForm" (ngSubmit)="onFormSubmit(studentForm.value)">
            <h1 class="title">Edit Student</h1>
            <div class="input-container">
                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="!studentForm.get('name').valid && studentForm.get('name').touched">Please enter Name</span>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="btn-container">
                <button type="submit" [disabled]="!studentForm.valid" class="btn" mat-raised-button color="primary">Submit</button>
            </div>
        </form>
    </mat-card>
</body>
