<body>
    <div class="loading-shade" *ngIf="isLoadingResults">
       <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="table-container">
        <mat-card *ngIf="isLoadingResults == false">
            <h1 class="title">Teacher Data</h1>
            <button mat-button class="add-button" routerLink="/addTeacher" color="accent">Add Teacher</button>
            <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let row">{{row.name}}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let row">{{row.email}}</td>
                </ng-container>

                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef>Address</th>
                    <td mat-cell *matCellDef="let row">{{row.address}}</td>
                </ng-container>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let row"><button mat-raised-button color="warn" (click)="deleteTeacher(row.id)">Delete</button></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/editTeacher/', row.id]"></tr>
            </table>
        </mat-card>
    </div>
</body>
