.spacer {
    flex: 0.01 1 auto;
}

a{
    text-decoration: none;
    color: inherit;
}

.heloImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}

.center{
    text-align: center;
}
